all_flows_edit.json
[
    {
        "id": "51ea9c70bb53699f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b996b4ad693ff921",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "6f01ef48d8dab901",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "6e51d2d89df3c1d6",
        "type": "mqtt-broker",
        "name": "EMQX Public Broker",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7ccf4a973ce23fbf",
        "type": "ui-page",
        "name": "Smart Classroom",
        "ui": "b996b4ad693ff921",
        "path": "/page2",
        "icon": "home",
        "layout": "grid",
        "theme": "6f01ef48d8dab901",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "85fdcba7528a0077",
        "type": "ui-group",
        "name": "Status",
        "page": "7ccf4a973ce23fbf",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "be06dcde817b07ca",
        "type": "ui-group",
        "name": "Controls",
        "page": "7ccf4a973ce23fbf",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a26e1f3bdbd3c5af",
        "type": "ui-group",
        "name": "Analytics",
        "page": "7ccf4a973ce23fbf",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0c4dc126c305f01e",
        "type": "ui-group",
        "name": "ML",
        "page": "7ccf4a973ce23fbf",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d21119f78a2060de",
        "type": "ui-group",
        "name": "AI",
        "page": "7ccf4a973ce23fbf",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f572427691d0b2c2",
        "type": "mqtt in",
        "z": "51ea9c70bb53699f",
        "name": "",
        "topic": "smartclass/demo01/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "6e51d2d89df3c1d6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "f25a7af7e1627b3c"
            ]
        ]
    },
    {
        "id": "f25a7af7e1627b3c",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "5984f54ff4df2ec9"
            ]
        ]
    },
    {
        "id": "5984f54ff4df2ec9",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Enrich Telemetry",
        "func": "let d = msg.payload;\nconst prevLast = flow.get(\"lastWokwiMqttMs\");\nconst nowMs = Date.now();\nconst gapMs = typeof prevLast === \"number\" && prevLast > 0 ? nowMs - prevLast : 0;\nflow.set(\"mqttGapMs\", gapMs);\n\nconst LIGHT_TOTAL = 10;\nconst FAN_TOTAL = 6;\n\nfunction clampInt(v, lo, hi) {\n    const n = Number(v);\n    if (!Number.isFinite(n)) return lo;\n    return Math.max(lo, Math.min(hi, Math.floor(n)));\n}\n\nfunction maskFromCount(count, maxBits) {\n    const c = clampInt(count, 0, maxBits);\n    if (c <= 0) return 0;\n    if (c >= maxBits) return (1 << maxBits) - 1;\n    return (1 << c) - 1;\n}\n\nlet lightOnCount =\n    typeof d.lightOnCount === \"number\" && Number.isFinite(d.lightOnCount)\n        ? clampInt(d.lightOnCount, 0, LIGHT_TOTAL)\n        : d.light ? LIGHT_TOTAL : 0;\nlet fanOnCount =\n    typeof d.fanOnCount === \"number\" && Number.isFinite(d.fanOnCount)\n        ? clampInt(d.fanOnCount, 0, FAN_TOTAL)\n        : d.fan ? FAN_TOTAL : 0;\n\nlet lightsMask =\n    typeof d.lightsMask === \"number\" && Number.isFinite(d.lightsMask)\n        ? d.lightsMask\n        : maskFromCount(lightOnCount, 10);\nlet fansMask =\n    typeof d.fansMask === \"number\" && Number.isFinite(d.fansMask)\n        ? d.fansMask\n        : maskFromCount(fanOnCount, 6);\n\nlet acPower = d.acPower !== undefined ? !!d.acPower : true;\nlet acMode = typeof d.acMode === \"string\" ? d.acMode : d.mode === \"manual\" ? \"manual\" : \"auto\";\nlet acSetpoint = typeof d.acSetpoint === \"number\" && Number.isFinite(d.acSetpoint) ? d.acSetpoint : Number(d.tempThreshold || 28);\nlet acCoolingActive = d.acCoolingActive !== undefined ? !!d.acCoolingActive : (acPower && !d.forceOff && !!d.fan);\nlet acManualOverride = d.acManualOverride !== undefined ? !!d.acManualOverride : (acMode !== \"auto\" && fanOnCount > 0);\n\nconst attendanceEvent =\n    d.attendanceEvent && typeof d.attendanceEvent === \"object\" && typeof d.attendanceEvent.tagId === \"string\" ? d.attendanceEvent : null;\n\nd.lightOnCount = lightOnCount;\nd.lightTotal = LIGHT_TOTAL;\nd.lightsMask = lightsMask;\nd.fanOnCount = fanOnCount;\nd.fanTotal = FAN_TOTAL;\nd.fansMask = fansMask;\n\nd.acPower = acPower;\nd.acMode = acMode;\nd.acSetpoint = acSetpoint;\nd.acCoolingActive = acCoolingActive;\nd.acManualOverride = acManualOverride;\n\nd.attendanceEvent = attendanceEvent;\n\nlet rawTelemetry = {\n    temperature: d.temperature,\n    motion: !!d.motion,\n    occupied: !!d.occupied,\n    light: Number(d.light || 0),\n    fan: Number(d.fan || 0),\n    mode: d.mode,\n    forceOff: !!d.forceOff,\n    afterHoursAlert: !!d.afterHoursAlert,\n    tempThreshold: Number(d.tempThreshold || 28),\n\n    // Phase 1+ additions (optional for backward compatibility)\n    lightOnCount: lightOnCount,\n    lightTotal: LIGHT_TOTAL,\n    lightsMask: lightsMask,\n    fanOnCount: fanOnCount,\n    fanTotal: FAN_TOTAL,\n    fansMask: fansMask,\n\n    acPower: acPower,\n    acMode: acMode,\n    acSetpoint: acSetpoint,\n    acCoolingActive: acCoolingActive,\n    acManualOverride: acManualOverride,\n\n    attendanceEvent: attendanceEvent\n};\n\nflow.set(\"latestTelemetry\", rawTelemetry);\nflow.set(\"lastWokwiMqttMs\", nowMs);\n\nd.roomStatus = d.occupied ? \"Occupied\" : \"Empty\";\nd.lightStatus = d.light ? \"ON\" : \"OFF\";\nd.fanStatus = d.fan ? \"ON\" : \"OFF\";\nd.modeText = d.mode ? d.mode.toUpperCase() : \"UNKNOWN\";\nlet scheduleCheckerOn = flow.get(\"scheduleEnabled\");\nif (scheduleCheckerOn === undefined) {\n    scheduleCheckerOn = true;\n}\nif (!scheduleCheckerOn) {\n    d.collegeText = \"Schedule checker off (no auto lockout)\";\n} else if (d.forceOff) {\n    d.collegeText = \"Outside scheduled hours (08:00–18:00)\";\n} else {\n    d.collegeText = \"Within scheduled hours (08:00–18:00)\";\n}\n\nif (d.afterHoursAlert && d.motion) {\n    d.alertText = \"ALERT: Motion detected after college hours\";\n} else if (d.afterHoursAlert) {\n    d.alertText = \"After-hours monitoring active\";\n} else if (d.temperature >= 35) {\n    d.alertText = \"WARNING: High temperature emergency\";\n} else {\n    d.alertText = \"Normal\";\n}\n\nlet alertList = d.alertText && d.alertText !== \"Normal\" ? [d.alertText] : [];\n\nflow.set(\"latestDashboardSummary\", {\n    temperature: d.temperature,\n    occupied: !!d.occupied,\n    roomStatus: d.roomStatus,\n    light: Number(d.light || 0),\n    fan: Number(d.fan || 0),\n    mode: d.mode,\n    collegeHours: d.collegeText,\n    alerts: alertList,\n    occupancyTimer: flow.get(\"latestOccupancyTimer\") || \"0 min 0 sec\",\n    occupancySessions: flow.get(\"latestOccupancySessions\") || 0,\n    occupancySessionList: flow.get(\"latestOccupancySessionDetails\") || [],\n    estimatedEnergySaved: flow.get(\"latestEstimatedEnergySaved\") || \"0.00 Wh\",\n    highTempWarning: flow.get(\"latestHighTempWarning\") || \"No critical temperature alert\",\n    tempThreshold: Number(d.tempThreshold || 28),\n    afterHoursAlert: !!d.afterHoursAlert,\n\n    // Phase 1+ additions (safe for old frontend)\n    lightOnCount: lightOnCount,\n    lightTotal: LIGHT_TOTAL,\n    fanOnCount: fanOnCount,\n    fanTotal: FAN_TOTAL,\n    acPower: acPower,\n    acMode: acMode,\n    acSetpoint: acSetpoint,\n    acCoolingActive: acCoolingActive,\n    acManualOverride: acManualOverride,\n    attendanceEvent: attendanceEvent\n});\n\nmsg.payload = d;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 120,
        "wires": [
            [
                "802a5b24d6de93ab",
                "cbf0c9df97eca069",
                "1217929d53d45ff8",
                "0be06d21f02e4872",
                "d79ba0739ca62910",
                "01ede4658b1c35e9",
                "7d8ea3f94c1e9a02",
                "a956419bf926d1af",
                "187bcb464caa869b",
                "c3b18bd14e59a0e8",
                "e8d9bce2af5cdab0",
                "ec9800cbd5cad990",
                "bcfef89dfcc78679",
                "79ca6ac5c19b654e",
                "f8a01c2de4b53910",
                "aa1b2c3d4e5f6789"
            ]
        ]
    },
    {
        "id": "aa1b2c3d4e5f6789",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "AC Automation Command (hysteresis/cooldown)",
        "func": "let d = msg.payload || {};\nconst now = Date.now();\n\nconst acMode = typeof d.acMode === \"string\" ? d.acMode : d.mode === \"manual\" ? \"manual\" : \"auto\";\nif (acMode !== \"auto\") return null;\n\n// Schedule lockout + manual off\nif (d.forceOff) return null;\nif (!d.occupied) return null;\n\nconst acPower = d.acPower !== undefined ? !!d.acPower : true;\nif (!acPower) return null;\n\nconst temperature = typeof d.temperature === \"number\" && Number.isFinite(d.temperature) ? d.temperature : null;\nif (temperature == null) return null;\n\nlet baseSetpoint = flow.get(\"acBaseSetpoint\");\nif (typeof baseSetpoint !== \"number\" || !Number.isFinite(baseSetpoint)) {\n    baseSetpoint = typeof d.tempThreshold === \"number\" && Number.isFinite(d.tempThreshold) ? d.tempThreshold : 28;\n}\n\nconst HYST_ON = 0.7;  // cool ON when temp > base + HYST_ON\nconst HYST_OFF = 0.4; // cool OFF when temp < base - HYST_OFF\nconst COOLDOWN_MS = 120000;\n\nconst last = flow.get(\"acAutoLastCmdAtMs\");\nif (typeof last === \"number\" && (now - last) < COOLDOWN_MS) {\n    return null;\n}\n\nconst coolingActive = d.acCoolingActive !== undefined ? !!d.acCoolingActive : !!d.fan;\n\nlet cmd = null;\nif (!coolingActive) {\n    if (temperature > baseSetpoint + HYST_ON) {\n        // Lower setpoint to keep cooling active until we drop under base - HYST_OFF.\n        cmd = { acMode: \"auto\", acSetpoint: baseSetpoint - HYST_OFF };\n    }\n} else {\n    if (temperature < baseSetpoint - HYST_OFF) {\n        // Raise setpoint to keep cooling inactive until we rise over base + HYST_ON.\n        cmd = { acMode: \"auto\", acSetpoint: baseSetpoint + HYST_ON };\n    }\n}\n\nif (!cmd) return null;\n\nflow.set(\"acAutoLastCmdAtMs\", now);\nmsg.payload = JSON.stringify(cmd);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 180,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "f8a01c2de4b53910",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Prepare storage POST",
        "func": "let d = msg.payload;\nconst gap = Number(flow.get(\"mqttGapMs\")) || 0;\nconst STORAGE_GAP_OK_MS = 10000;\nconst pipelineLive = gap <= STORAGE_GAP_OK_MS;\nmsg.headers = { \"Content-Type\": \"application/json\" };\n\nconst lightOnCount = typeof d.lightOnCount === \"number\" && Number.isFinite(d.lightOnCount) ? d.lightOnCount : d.light ? 10 : 0;\nconst fanOnCount = typeof d.fanOnCount === \"number\" && Number.isFinite(d.fanOnCount) ? d.fanOnCount : d.fan ? 6 : 0;\n\nmsg.payload = {\n    receivedAt: Date.now(),\n    temperature: typeof d.temperature === \"number\" ? d.temperature : null,\n    motion: !!d.motion,\n    occupied: !!d.occupied,\n\n    // Backward compatible 0/1 fields for existing telemetry/storage consumers\n    light: d.light ? 1 : 0,\n    fan: d.fan ? 1 : 0,\n    mode: d.mode || \"auto\",\n    tempThreshold: typeof d.tempThreshold === \"number\" ? d.tempThreshold : 28,\n\n    // Phase 1 additions (counts/masks + AC)\n    lightOnCount,\n    lightTotal: 10,\n    lightsMask: typeof d.lightsMask === \"number\" && Number.isFinite(d.lightsMask) ? d.lightsMask : undefined,\n\n    fanOnCount,\n    fanTotal: 6,\n    fansMask: typeof d.fansMask === \"number\" && Number.isFinite(d.fansMask) ? d.fansMask : undefined,\n\n    acPower: typeof d.acPower === \"boolean\" ? d.acPower : undefined,\n    acMode: typeof d.acMode === \"string\" ? d.acMode : undefined,\n    acSetpoint: typeof d.acSetpoint === \"number\" && Number.isFinite(d.acSetpoint) ? d.acSetpoint : undefined,\n    acCoolingActive: typeof d.acCoolingActive === \"boolean\" ? d.acCoolingActive : undefined,\n    acManualOverride: typeof d.acManualOverride === \"boolean\" ? d.acManualOverride : undefined,\n\n    // Attendance event ingest into storage bridge\n    attendanceEvent: d.attendanceEvent && typeof d.attendanceEvent === \"object\" ? d.attendanceEvent : null,\n\n    pipelineLive\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 200,
        "wires": [
            [
                "e79bf3d4c5a42820"
            ]
        ]
    },
    {
        "id": "e1e2e3f4a5b6c7d8",
        "type": "comment",
        "z": "51ea9c70bb53699f",
        "name": "Storage bridge URL",
        "info": "DEFAULT URLs assume DOCKER DESKTOP (Node-RED in a container).\n\nPOST storage bridge → http://host.docker.internal:4050/ingest\nPOST downtime tick → http://host.docker.internal:4050/api/storage/downtime/tick\n\nIf Node-RED runs on the host (no Docker), change BOTH http nodes to 127.0.0.1.\n\nLinux Docker: --add-host=host.docker.internal:host-gateway\n\nEnable debug “storage bridge response” + Deploy to see ingest replies.",
        "x": 860,
        "y": 248,
        "wires": []
    },
    {
        "id": "e79bf3d4c5a42820",
        "type": "http request",
        "z": "51ea9c70bb53699f",
        "name": "POST storage bridge",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:4050/ingest",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "c7a8b9d0e1f23456"
            ]
        ]
    },
    {
        "id": "c7a8b9d0e1f23456",
        "type": "debug",
        "z": "51ea9c70bb53699f",
        "name": "storage bridge response",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 200,
        "wires": []
    },
    {
        "id": "b9d8c7e6f5a40312",
        "type": "inject",
        "z": "51ea9c70bb53699f",
        "name": "Downtime tick 1s",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a8b7c6d5e4f30201"
            ]
        ]
    },
    {
        "id": "a8b7c6d5e4f30201",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Build downtime tick POST",
        "func": "const last = flow.get(\"lastWokwiMqttMs\");\nconst now = Date.now();\nlet age = (typeof last === \"number\" && last > 0) ? (now - last) : null;\nif (age != null && age < 0 && age > -120000) age = 0;\nconst LIVE_MS = 4000;\nconst DEAD_MS = 7000;\nlet prev = flow.get(\"pipelineStableLive\");\nif (typeof prev !== \"boolean\") prev = false;\nlet streak = Number(flow.get(\"pipelineDeadPollStreak\"));\nif (!Number.isFinite(streak)) streak = 0;\nlet next;\nif (age === null) {\n    next = prev;\n} else if (age > 600000) {\n    next = false;\n    streak = 0;\n} else if (age <= LIVE_MS) {\n    next = true;\n    streak = 0;\n} else if (age > DEAD_MS) {\n    if (!prev) {\n        next = false;\n        streak = 0;\n    } else {\n        streak += 1;\n        next = (streak >= 2) ? false : true;\n    }\n} else {\n    streak = 0;\n    next = prev;\n}\nflow.set(\"pipelineDeadPollStreak\", streak);\nflow.set(\"pipelineStableLive\", next);\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = { isLive: next };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 280,
        "wires": [
            [
                "f1e2d3c4b5a69788"
            ]
        ]
    },
    {
        "id": "f1e2d3c4b5a69788",
        "type": "http request",
        "z": "51ea9c70bb53699f",
        "name": "POST downtime tick",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:4050/api/storage/downtime/tick",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 620,
        "y": 280,
        "wires": []
    },
    {
        "id": "802a5b24d6de93ab",
        "type": "debug",
        "z": "51ea9c70bb53699f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 160,
        "wires": []
    },
    {
        "id": "cbf0c9df97eca069",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Temperature Extractor",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "ee86a34384436871"
            ]
        ]
    },
    {
        "id": "ee86a34384436871",
        "type": "ui-gauge",
        "z": "51ea9c70bb53699f",
        "name": "Temperature",
        "group": "85fdcba7528a0077",
        "order": 7,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "°C",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1250,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1217929d53d45ff8",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Room Status",
        "func": "msg.payload = msg.payload.roomStatus;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 340,
        "wires": [
            [
                "96aee335b4d58c5b"
            ]
        ]
    },
    {
        "id": "96aee335b4d58c5b",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "85fdcba7528a0077",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Room Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1270,
        "y": 340,
        "wires": []
    },
    {
        "id": "0be06d21f02e4872",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Light Status",
        "func": "msg.payload = msg.payload.lightStatus;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 420,
        "wires": [
            [
                "484684d8add024df"
            ]
        ]
    },
    {
        "id": "484684d8add024df",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "85fdcba7528a0077",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Light",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 420,
        "wires": []
    },
    {
        "id": "d79ba0739ca62910",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Fan Status",
        "func": "msg.payload = msg.payload.fanStatus;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 500,
        "wires": [
            [
                "196effb0e6019533"
            ]
        ]
    },
    {
        "id": "196effb0e6019533",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "85fdcba7528a0077",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fan",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1250,
        "y": 500,
        "wires": []
    },
    {
        "id": "01ede4658b1c35e9",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Mode",
        "func": "msg.payload = msg.payload.modeText;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 580,
        "wires": [
            [
                "fcc881f73cd8f122"
            ]
        ]
    },
    {
        "id": "fcc881f73cd8f122",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "85fdcba7528a0077",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Mode",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1250,
        "y": 580,
        "wires": []
    },
    {
        "id": "7d8ea3f94c1e9a02",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "College Hours",
        "func": "msg.payload = msg.payload.collegeText;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 660,
        "wires": [
            [
                "eb161bf82b9d4028"
            ]
        ]
    },
    {
        "id": "eb161bf82b9d4028",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "85fdcba7528a0077",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "College Hours",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1280,
        "y": 660,
        "wires": []
    },
    {
        "id": "a956419bf926d1af",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Alerts",
        "func": "msg.payload = msg.payload.alertText;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 740,
        "wires": [
            [
                "4f5aa1f9fe2e99e3"
            ]
        ]
    },
    {
        "id": "4f5aa1f9fe2e99e3",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "85fdcba7528a0077",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Alerts",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1170,
        "y": 740,
        "wires": []
    },
    {
        "id": "187bcb464caa869b",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Temperature Trend",
        "func": "msg.payload = msg.payload.temperature;\nmsg.topic = \"Temperature\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 820,
        "wires": [
            [
                "64c9baaf5b6e066e"
            ]
        ]
    },
    {
        "id": "64c9baaf5b6e066e",
        "type": "ui-chart",
        "z": "51ea9c70bb53699f",
        "group": "85fdcba7528a0077",
        "name": "",
        "label": "Temperature Trend",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1230,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "1115c0a1bb20b4ed",
        "type": "mqtt out",
        "z": "51ea9c70bb53699f",
        "name": "",
        "topic": "smartclass/demo01/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6e51d2d89df3c1d6",
        "x": 1730,
        "y": 1000,
        "wires": []
    },
    {
        "id": "cec76d2d518d174f",
        "type": "ui-button",
        "z": "51ea9c70bb53699f",
        "group": "be06dcde817b07ca",
        "name": "",
        "label": "AUTO",
        "order": 3,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 1000,
        "wires": [
            [
                "76d95cf103dd7b93"
            ]
        ]
    },
    {
        "id": "76d95cf103dd7b93",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "AUTO Command",
        "func": "msg.payload = JSON.stringify({\n  mode: \"auto\",\n  forceOff: false\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1000,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "889b2381362f01cb",
        "type": "ui-button",
        "z": "51ea9c70bb53699f",
        "group": "be06dcde817b07ca",
        "name": "",
        "label": "Manual Light ON",
        "order": 6,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 1080,
        "wires": [
            [
                "da8095523ec49a3e"
            ]
        ]
    },
    {
        "id": "959d603ecbba36f3",
        "type": "ui-button",
        "z": "51ea9c70bb53699f",
        "group": "be06dcde817b07ca",
        "name": "",
        "label": "Manual Light OFF",
        "order": 5,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 1160,
        "wires": [
            [
                "f7974205846c02bd"
            ]
        ]
    },
    {
        "id": "b22ac59a416bbe50",
        "type": "ui-button",
        "z": "51ea9c70bb53699f",
        "group": "be06dcde817b07ca",
        "name": "",
        "label": "Manual Fan ON",
        "order": 4,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "293dc3a57fc39520"
            ]
        ]
    },
    {
        "id": "c57cb5f646e030a2",
        "type": "ui-button",
        "z": "51ea9c70bb53699f",
        "group": "be06dcde817b07ca",
        "name": "",
        "label": "Manual Fan OFF",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 250,
        "y": 1320,
        "wires": [
            [
                "e5e099389ca1de44"
            ]
        ]
    },
    {
        "id": "da8095523ec49a3e",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Manual Light ON",
        "func": "msg.payload = JSON.stringify({\n    mode: \"manual\",\n    light: true\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "f7974205846c02bd",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Manual Light OFF",
        "func": "msg.payload = JSON.stringify({\n    mode: \"manual\",\n    light: false\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "293dc3a57fc39520",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Manual Fan ON",
        "func": "msg.payload = JSON.stringify({\n    mode: \"manual\",\n    fan: true\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1240,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "e5e099389ca1de44",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Manual Fan OFF",
        "func": "msg.payload = JSON.stringify({\n    mode: \"manual\",\n    fan: false\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "1fca013a0f843273",
        "type": "ui-dropdown",
        "z": "51ea9c70bb53699f",
        "group": "be06dcde817b07ca",
        "name": "",
        "label": "Preset Mode",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "Lecture Mode",
                "value": "lecture",
                "type": "str"
            },
            {
                "label": "Exam Mode",
                "value": "exam",
                "type": "str"
            },
            {
                "label": "Energy Saver Mode",
                "value": "energy",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 250,
        "y": 1400,
        "wires": [
            [
                "8d1ded871345ac4f"
            ]
        ]
    },
    {
        "id": "8d1ded871345ac4f",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Preset Mode",
        "func": "let preset = msg.payload;\n\nif (preset === \"lecture\") {\n    msg.payload = JSON.stringify({\n        mode: \"auto\",\n        tempThreshold: 28.0\n    });\n} else if (preset === \"exam\") {\n    msg.payload = JSON.stringify({\n        mode: \"auto\",\n        tempThreshold: 26.0\n    });\n} else if (preset === \"energy\") {\n    msg.payload = JSON.stringify({\n        mode: \"auto\",\n        tempThreshold: 30.0\n    });\n} else {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1400,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "58daabbd88f908cb",
        "type": "inject",
        "z": "51ea9c70bb53699f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 1480,
        "wires": [
            [
                "970efc174b7a905b"
            ]
        ]
    },
    {
        "id": "970efc174b7a905b",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Schedule Checker",
        "func": "function scheduleMsFromMidnight(now, timeZone) {\n    if (!timeZone) {\n        return ((now.getHours() * 60 + now.getMinutes()) * 60 + now.getSeconds()) * 1000 +\n            now.getMilliseconds();\n    }\n    const parts = new Intl.DateTimeFormat(\"en-GB\", {\n        timeZone: timeZone,\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false,\n    }).formatToParts(now);\n    const num = (type) => {\n        const p = parts.find((x) => x.type === type);\n        return p ? Number(p.value) : 0;\n    };\n    return ((num(\"hour\") * 60 + num(\"minute\")) * 60 + num(\"second\")) * 1000;\n}\n\nlet scheduleEnabled = flow.get(\"scheduleEnabled\");\nif (scheduleEnabled === undefined) {\n    scheduleEnabled = true;\n    flow.set(\"scheduleEnabled\", true);\n}\n\nif (!scheduleEnabled) {\n    return null;\n}\n\n// flow.scheduleTimeZone set by dashboard GET /api/schedule-state?classroomTz=… ; else env CLASSROOM_TIMEZONE ; else Node local (Docker default UTC)\nconst schedTz = flow.get(\"scheduleTimeZone\") || env.get('CLASSROOM_TIMEZONE') || \"\";\nlet now = new Date();\nlet msFromMidnight = scheduleMsFromMidnight(now, schedTz);\nconst START_MS = 8 * 60 * 60 * 1000;\nconst END_MS = 18 * 60 * 60 * 1000;\nlet inScheduledHours = msFromMidnight >= START_MS && msFromMidnight < END_MS;\n\nmsg.payload = JSON.stringify({\n    forceOff: !inScheduledHours,\n    afterHoursAlert: !inScheduledHours,\n    acPower: inScheduledHours\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1480,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "b7ce4c9a3d1f6e2a",
        "type": "ui-button",
        "z": "51ea9c70bb53699f",
        "group": "be06dcde817b07ca",
        "name": "",
        "label": "Disable/Enable Schedule",
        "order": 7,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "Toggle schedule checker for testing",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 290,
        "y": 1560,
        "wires": [
            [
                "a3e5d90c2f7b41d8"
            ]
        ]
    },
    {
        "id": "a3e5d90c2f7b41d8",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Toggle Schedule Checker",
        "func": "function scheduleMsFromMidnight(now, timeZone) {\n    if (!timeZone) {\n        return ((now.getHours() * 60 + now.getMinutes()) * 60 + now.getSeconds()) * 1000 +\n            now.getMilliseconds();\n    }\n    const parts = new Intl.DateTimeFormat(\"en-GB\", {\n        timeZone: timeZone,\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false,\n    }).formatToParts(now);\n    const num = (type) => {\n        const p = parts.find((x) => x.type === type);\n        return p ? Number(p.value) : 0;\n    };\n    return ((num(\"hour\") * 60 + num(\"minute\")) * 60 + num(\"second\")) * 1000;\n}\n\nlet enabled = flow.get(\"scheduleEnabled\");\nif (enabled === undefined) {\n    enabled = true;\n}\n\nenabled = !enabled;\nflow.set(\"scheduleEnabled\", enabled);\n\nif (!enabled) {\n    msg.payload = JSON.stringify({\n        forceOff: false,\n        afterHoursAlert: false,\n        acPower: true\n    });\n    return msg;\n}\n\nconst schedTz = flow.get(\"scheduleTimeZone\") || env.get('CLASSROOM_TIMEZONE') || \"\";\nlet now = new Date();\nlet msFromMidnight = scheduleMsFromMidnight(now, schedTz);\nconst START_MS = 8 * 60 * 60 * 1000;\nconst END_MS = 18 * 60 * 60 * 1000;\nlet inScheduledHours = msFromMidnight >= START_MS && msFromMidnight < END_MS;\n\nmsg.payload = JSON.stringify({\n    forceOff: !inScheduledHours,\n    afterHoursAlert: !inScheduledHours,\n    acPower: inScheduledHours\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1560,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "c3b18bd14e59a0e8",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Occupancy Timer",
        "func": "let d = msg.payload || {};\nlet occ = d.occupied === true || d.occupied === 1 || d.occupied === \"1\" || d.occupied === \"true\";\n\nlet wasOccupied = context.get(\"wasOccupied\") === true;\nlet occupiedStart = context.get(\"occupiedStart\");\nif (occupiedStart != null) {\n    occupiedStart = Number(occupiedStart);\n    if (!Number.isFinite(occupiedStart)) {\n        occupiedStart = null;\n    }\n}\n\nlet now = Date.now();\n\nif (occ && !wasOccupied) {\n    occupiedStart = now;\n}\n\nif (!occ) {\n    occupiedStart = null;\n}\n\nif (occupiedStart != null && occupiedStart > now + 2000) {\n    occupiedStart = now;\n}\n\ncontext.set(\"wasOccupied\", occ);\ncontext.set(\"occupiedStart\", occupiedStart);\n\nif (occupiedStart != null) {\n    let totalSeconds = Math.floor((now - occupiedStart) / 1000);\n    if (!Number.isFinite(totalSeconds) || totalSeconds < 0) {\n        totalSeconds = 0;\n    }\n    let mins = Math.floor(totalSeconds / 60);\n    let secs = totalSeconds % 60;\n    msg.payload = mins + \" min \" + secs + \" sec\";\n} else {\n    msg.payload = \"0 min 0 sec\";\n}\n\nflow.set(\"latestOccupancyTimer\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 360,
        "wires": [
            [
                "41f7f4d82909d1ed"
            ]
        ]
    },
    {
        "id": "41f7f4d82909d1ed",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "a26e1f3bdbd3c5af",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Occupancy Timer",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "e8d9bce2af5cdab0",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Occupancy Sessions",
        "func": "let d = msg.payload || {};\nlet occ = d.occupied === true || d.occupied === 1 || d.occupied === \"1\" || d.occupied === \"true\";\n\nlet wasOccupied = context.get(\"wasOccupied\") === true;\nlet occupiedStart = context.get(\"occupiedStart\");\nif (occupiedStart != null) {\n    occupiedStart = Number(occupiedStart);\n    if (!Number.isFinite(occupiedStart)) {\n        occupiedStart = null;\n    }\n}\nlet sessions = context.get(\"sessions\") || [];\nlet sessionCount = context.get(\"sessionCount\") || 0;\n\nlet now = Date.now();\n\nsessions = sessions.map(s => {\n    if (typeof s === \"object\" && s !== null && s.endedAtIso) {\n        return s;\n    }\n    return {\n        sessionNumber: null,\n        durationText: String(s),\n        endedAtIso: null,\n        startedAtIso: null,\n        legacy: true\n    };\n});\n\nif (occ && !wasOccupied) {\n    occupiedStart = now;\n}\n\nif (!occ && wasOccupied && occupiedStart != null) {\n    if (occupiedStart > now + 2000) {\n        occupiedStart = now;\n    }\n    let durationSeconds = Math.floor((now - occupiedStart) / 1000);\n    if (!Number.isFinite(durationSeconds) || durationSeconds < 0) {\n        durationSeconds = 0;\n    }\n    let mins = Math.floor(durationSeconds / 60);\n    let secs = durationSeconds % 60;\n    let endedAt = now;\n\n    sessionCount += 1;\n    sessions.unshift({\n        sessionNumber: sessionCount,\n        durationMinutes: mins,\n        durationSeconds: durationSeconds,\n        durationText: mins + \" min \" + secs + \" sec\",\n        startedAtIso: new Date(occupiedStart).toISOString(),\n        endedAtIso: new Date(endedAt).toISOString()\n    });\n\n    if (sessions.length > 10) {\n        sessions = sessions.slice(0, 10);\n    }\n\n    occupiedStart = null;\n}\n\nif (occupiedStart != null && occupiedStart > now + 2000) {\n    occupiedStart = now;\n}\n\ncontext.set(\"wasOccupied\", occ);\ncontext.set(\"occupiedStart\", occupiedStart);\ncontext.set(\"sessions\", sessions);\ncontext.set(\"sessionCount\", sessionCount);\n\nmsg.payload = sessions;\nflow.set(\"latestOccupancySessions\", sessionCount);\nflow.set(\"latestOccupancySessionDetails\", sessions);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 400,
        "wires": [
            [
                "585aecca9b12b409"
            ]
        ]
    },
    {
        "id": "585aecca9b12b409",
        "type": "ui-template",
        "z": "51ea9c70bb53699f",
        "group": "a26e1f3bdbd3c5af",
        "page": "",
        "ui": "",
        "name": "Occupancy Sessions",
        "order": 2,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n  <div style=\"padding:8px;\">\n    <div v-if=\"!msg.payload || msg.payload.length === 0\">\n      No completed sessions yet\n    </div>\n\n    <ul v-else style=\"margin:0; padding-left:20px;\">\n      <li v-for=\"(item, index) in msg.payload\" :key=\"index\">\n        <span v-if=\"item.legacy\">{{ item.durationText }}</span>\n        <span v-else>Occupancy Session {{ item.sessionNumber }}: {{ item.durationText }}</span>\n      </li>\n    </ul>\n  </div>\n</template>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ec9800cbd5cad990",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Estimated Energy Saved",
        "func": "let d = msg.payload;\n\nlet lightWatts = 15;\nlet fanWatts = 60;\n\nlet lastTs = context.get(\"lastTs\") || Date.now();\nlet savedWh = context.get(\"savedWh\") || 0;\n\nlet now = Date.now();\nlet dtHours = (now - lastTs) / 3600000;\n\nif (!d.light) {\n    savedWh += lightWatts * dtHours;\n}\n\nif (!d.fan) {\n    savedWh += fanWatts * dtHours;\n}\n\ncontext.set(\"lastTs\", now);\ncontext.set(\"savedWh\", savedWh);\n\nmsg.payload = savedWh.toFixed(2) + \" Wh\";\nflow.set(\"latestEstimatedEnergySaved\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 440,
        "wires": [
            [
                "0f690a1e7f1ba00b"
            ]
        ]
    },
    {
        "id": "0f690a1e7f1ba00b",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "a26e1f3bdbd3c5af",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estimated Energy Saved",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "bcfef89dfcc78679",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "High Temp Warning",
        "func": "if (msg.payload.temperature >= 42) {\n    msg.payload = \"EMERGENCY: Classroom temperature is critically high\";\n} else {\n    msg.payload = \"No critical temperature alert\";\n}\nflow.set(\"latestHighTempWarning\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 480,
        "wires": [
            [
                "cdd531aec1abdc40"
            ]
        ]
    },
    {
        "id": "cdd531aec1abdc40",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "a26e1f3bdbd3c5af",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "High Temp Warning",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 550,
        "y": 480,
        "wires": []
    },
    {
        "id": "79ca6ac5c19b654e",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "ML Predictor",
        "func": "\nlet d = msg.payload || {};\nlet now = Date.now();\n\nif (typeof d.temperature !== \"number\" || isNaN(d.temperature) || d.temperature === -999) {\n    return [{ payload: \"ML waiting for valid temperature...\" }, null];\n}\n\nlet model = context.get(\"model\") || {\n    history: [],\n    ema: null,\n    forecasts: [],\n    errors: [],\n    lastAssistAt: 0,\n    lastForecastAt: 0\n};\n\n// 1) Evaluate older forecasts whose due time has arrived\nlet dueForecasts = model.forecasts.filter(f => now >= f.due);\nfor (let f of dueForecasts) {\n    model.errors.push(Math.abs(d.temperature - f.pred));\n}\nif (model.errors.length > 20) {\n    model.errors = model.errors.slice(-20);\n}\nmodel.forecasts = model.forecasts.filter(f => now < f.due);\n\n// 2) Update rolling history\nmodel.history.push({\n    t: now,\n    temp: d.temperature,\n    occupied: !!d.occupied,\n    light: Number(d.light || 0),\n    fan: Number(d.fan || 0)\n});\nif (model.history.length > 60) {\n    model.history = model.history.slice(-60);\n}\n\n// 3) Exponential moving average\nif (model.ema === null) model.ema = d.temperature;\nmodel.ema = 0.35 * d.temperature + 0.65 * model.ema;\n\n// 4) Trend model using last 12 points\nlet points = model.history.slice(-12);\nlet ready = points.length >= 6;\nlet trendPred = d.temperature;\nlet slopePerMin = 0;\nlet residualStd = 999;\nlet confidence = 0.25;\n\nif (ready) {\n    let t0 = points[0].t;\n    let n = points.length;\n    let sumx = 0, sumy = 0, sumxy = 0, sumxx = 0;\n\n    for (let p of points) {\n        let x = (p.t - t0) / 60000.0;   // minutes\n        let y = p.temp;\n        sumx += x;\n        sumy += y;\n        sumxy += x * y;\n        sumxx += x * x;\n    }\n\n    let denom = n * sumxx - sumx * sumx;\n    let slope = 0;\n    let intercept = d.temperature;\n\n    if (denom !== 0) {\n        slope = (n * sumxy - sumx * sumy) / denom;\n        intercept = (sumy - slope * sumx) / n;\n    }\n\n    slopePerMin = slope;\n\n    let futureX = ((now + 120000) - t0) / 60000.0;   // 2 minutes ahead\n    trendPred = intercept + slope * futureX;\n\n    let rss = 0;\n    for (let p of points) {\n        let x = (p.t - t0) / 60000.0;\n        let yhat = intercept + slope * x;\n        rss += Math.pow(p.temp - yhat, 2);\n    }\n    residualStd = Math.sqrt(rss / Math.max(1, n - 2));\n\n    let confN = Math.min(1, n / 12);\n    let confFit = 1 / (1 + residualStd);\n    confidence = Math.max(0, Math.min(1, 0.45 * confN + 0.55 * confFit));\n}\n\n// 5) Small feature adjustments\nlet occBoost = d.occupied ? 0.20 : -0.10;\nlet lightBoost = Number(d.light || 0) > 0 ? 0.10 : 0;\nlet fanEffect = Number(d.fan || 0) > 0 ? -0.20 : 0;\n\nlet predicted = 0.60 * trendPred + 0.40 * model.ema + occBoost + lightBoost + fanEffect;\n\n// Clamp unrealistic jumps\npredicted = Math.max(d.temperature - 1.5, Math.min(d.temperature + 3.0, predicted));\npredicted = Number(predicted.toFixed(1));\n\nlet threshold = Number(d.tempThreshold || 28);\nlet stable = Math.abs(slopePerMin) < 0.08;\nlet anomaly = Number(d.fan || 0) > 0 && slopePerMin > 0.12;\n\nlet assist =\n    ready &&\n    !!d.occupied &&\n    !d.forceOff &&\n    confidence >= 0.55 &&\n    predicted > (threshold + 0.3);\n\n// Cooldown so it does not spam commands\nlet cooldownOk = (now - model.lastAssistAt) > 180000;\nif (!cooldownOk) assist = false;\nif (assist) model.lastAssistAt = now;\n\n// Save one forecast every 15s for later accuracy checking\nif (ready && (now - model.lastForecastAt > 15000)) {\n    model.forecasts.push({ due: now + 120000, pred: predicted });\n    if (model.forecasts.length > 20) {\n        model.forecasts = model.forecasts.slice(-20);\n    }\n    model.lastForecastAt = now;\n}\n\nlet mae = null;\nif (model.errors.length) {\n    let total = model.errors.reduce((a, b) => a + b, 0);\n    mae = Number((total / model.errors.length).toFixed(2));\n}\n\ncontext.set(\"model\", model);\n\nlet statusText = assist\n    ? \"Pre-cooling suggested\"\n    : (anomaly ? \"Possible cooling inefficiency\" : (stable ? \"Stable\" : \"Monitoring\"));\n\nlet mlSnapshot = {\n    predictedTemp: predicted,\n    slopePerMin: Number(slopePerMin.toFixed(2)),\n    confidence: Number(confidence.toFixed(2)),\n    mae: mae,\n    anomaly: anomaly,\n    assist: assist,\n    statusText: statusText\n};\nflow.set(\"latestMl\", mlSnapshot);\n\nlet uiMsg = {\n    payload:\n        \"<b>2-min forecast:</b> \" + predicted + \" °C\" +\n        \"<br><b>Trend:</b> \" + (slopePerMin >= 0 ? \"+\" : \"\") + slopePerMin.toFixed(2) + \" °C/min\" +\n        \"<br><b>Confidence:</b> \" + Math.round(confidence * 100) + \"%\" +\n        (mae !== null ? \"<br><b>Model error (MAE):</b> \" + mae + \" °C\" : \"\") +\n        \"<br><b>Status:</b> \" + statusText,\n    forecast: {\n        predictedTemp: predicted,\n        slopePerMin: Number(slopePerMin.toFixed(2)),\n        confidence: Number(confidence.toFixed(2)),\n        mae: mae,\n        anomaly: anomaly,\n        assist: assist\n    }\n};\n\nlet controlMsg = null;\nif (assist) {\n    controlMsg = {\n        payload: {\n            assist: true,\n            predictedTemp: predicted,\n            confidence: Number(confidence.toFixed(2)),\n            suggestedThreshold: 26.5,\n            reason: \"Predicted temperature is above threshold soon while room is occupied\"\n        }\n    };\n}\n\nreturn [uiMsg, controlMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 120,
        "wires": [
            [
                "e79a176961e18050",
                "f61614db00387ea2"
            ],
            [
                "ca3bd8bf1a9277c0"
            ]
        ]
    },
    {
        "id": "e79a176961e18050",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "0c4dc126c305f01e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Predictive Cooling",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1650,
        "y": 80,
        "wires": []
    },
    {
        "id": "ca3bd8bf1a9277c0",
        "type": "switch",
        "z": "51ea9c70bb53699f",
        "name": "ML Assist Switch",
        "property": "payload.assist",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1650,
        "y": 160,
        "wires": [
            [
                "8f79ef83e038762e"
            ]
        ]
    },
    {
        "id": "8f79ef83e038762e",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "ML Assist Command",
        "func": "msg.payload = JSON.stringify({\n    mode: \"auto\",\n    tempThreshold: 26.5\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2200,
        "y": 160,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ]
        ]
    },
    {
        "id": "b63f47ab648da08c",
        "type": "ui-text",
        "z": "51ea9c70bb53699f",
        "group": "d21119f78a2060de",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AI Summary",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1290,
        "y": 1360,
        "wires": []
    },
    {
        "id": "81112387a2a73c56",
        "type": "ui-button",
        "z": "51ea9c70bb53699f",
        "group": "d21119f78a2060de",
        "name": "",
        "label": "Generate AI Report",
        "order": 0,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 1510,
        "y": 1360,
        "wires": [
            [
                "f0a1b2c3d4e5f679"
            ]
        ]
    },
    {
        "id": "644b47231c50b163",
        "type": "debug",
        "z": "51ea9c70bb53699f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 1360,
        "wires": []
    },
    {
        "id": "f61614db00387ea2",
        "type": "switch",
        "z": "51ea9c70bb53699f",
        "name": "Anomaly Switch",
        "property": "forecast.anomaly",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1580,
        "y": 260,
        "wires": [
            [
                "3964de44bb0a68ef"
            ]
        ]
    },
    {
        "id": "3964de44bb0a68ef",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Anomaly Alert Formatter",
        "func": "let last = context.get(\"lastPopup\") || 0;\nlet now = Date.now();\n\nif (now - last < 30000) {\n    return null;\n}\n\ncontext.set(\"lastPopup\", now);\nmsg.payload = \"Cooling inefficiency detected: fan is active but room temperature is still rising.\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 260,
        "wires": [
            [
                "f5e3a123014adf3d"
            ]
        ]
    },
    {
        "id": "f5e3a123014adf3d",
        "type": "ui-notification",
        "z": "51ea9c70bb53699f",
        "ui": "b996b4ad693ff921",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "ML Popup",
        "x": 2040,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d1b7a458f3c9e201",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "GET /api/telemetry",
        "url": "/api/telemetry",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1700,
        "wires": [
            [
                "be3a6f9240d7ab11"
            ]
        ]
    },
    {
        "id": "be3a6f9240d7ab11",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Get Telemetry",
        "func": "let base = flow.get(\"latestTelemetry\") || {};\nlet latest = Object.assign({}, base);\nlet now = Date.now();\nlatest.serverTimeMs = now;\nconst lm = flow.get(\"lastWokwiMqttMs\");\n// Expose any finite last MQTT time; omitting lm on clock edge cases caused one-poll null → dashboard flicker.\nif (typeof lm === \"number\" && lm > 0 && Number.isFinite(lm)) {\n    latest.lastWokwiMqttMs = lm;\n} else {\n    latest.lastWokwiMqttMs = null;\n}\nmsg.payload = latest;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1700,
        "wires": [
            [
                "f6a1c2d8e9b4a300"
            ]
        ]
    },
    {
        "id": "f6a1c2d8e9b4a300",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 600,
        "y": 1700,
        "wires": [
            [
                "d7c8b9a4e5f60122"
            ]
        ]
    },
    {
        "id": "d7c8b9a4e5f60122",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 1700,
        "wires": []
    },
    {
        "id": "c2a8e5d1917f4b63",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "GET /api/dashboard-summary",
        "url": "/api/dashboard-summary",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1740,
        "wires": [
            [
                "a7819d3f5c6b4e20"
            ]
        ]
    },
    {
        "id": "a7819d3f5c6b4e20",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Get Dashboard Summary",
        "func": "let summary = flow.get(\"latestDashboardSummary\") || {};\n\nsummary.occupancyTimer = flow.get(\"latestOccupancyTimer\") || summary.occupancyTimer || \"0 min 0 sec\";\nsummary.occupancySessions = flow.get(\"latestOccupancySessions\") || summary.occupancySessions || 0;\nsummary.occupancySessionList = flow.get(\"latestOccupancySessionDetails\") || summary.occupancySessionList || [];\nsummary.estimatedEnergySaved = flow.get(\"latestEstimatedEnergySaved\") || summary.estimatedEnergySaved || \"0.00 Wh\";\nsummary.highTempWarning = flow.get(\"latestHighTempWarning\") || summary.highTempWarning || \"No critical temperature alert\";\n\n// Always align with current flow.scheduleEnabled + last telemetry (stale collegeHours after HTTP toggle)\nlet scheduleCheckerOn = flow.get(\"scheduleEnabled\");\nif (scheduleCheckerOn === undefined) {\n    scheduleCheckerOn = true;\n}\nlet t = flow.get(\"latestTelemetry\") || {};\nif (!scheduleCheckerOn) {\n    summary.collegeHours = \"Schedule checker off (no auto lockout)\";\n} else if (t.forceOff) {\n    summary.collegeHours = \"Outside scheduled hours (08:00–18:00)\";\n} else {\n    summary.collegeHours = \"Within scheduled hours (08:00–18:00)\";\n}\n\nmsg.payload = summary;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1740,
        "wires": [
            [
                "b0e4a2d6f8c91357"
            ]
        ]
    },
    {
        "id": "b0e4a2d6f8c91357",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 660,
        "y": 1740,
        "wires": [
            [
                "f0c4e7a15d2b9638"
            ]
        ]
    },
    {
        "id": "f0c4e7a15d2b9638",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 1740,
        "wires": []
    },
    {
        "id": "ef45a9c2d1b37860",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "GET /api/ml",
        "url": "/api/ml",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1780,
        "wires": [
            [
                "d286b4f1a39ce572"
            ]
        ]
    },
    {
        "id": "d286b4f1a39ce572",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Get ML",
        "func": "msg.payload = flow.get(\"latestMl\") || {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 1780,
        "wires": [
            [
                "e8f159a2b4c7630d"
            ]
        ]
    },
    {
        "id": "e8f159a2b4c7630d",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 560,
        "y": 1780,
        "wires": [
            [
                "a9f2de6384c7b150"
            ]
        ]
    },
    {
        "id": "a9f2de6384c7b150",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 1780,
        "wires": []
    },
    {
        "id": "bd3c9a70ef126548",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "POST /api/command",
        "url": "/api/command",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1820,
        "wires": [
            [
                "f4d9a2b571ce8630"
            ]
        ]
    },
    {
        "id": "f4d9a2b571ce8630",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 1820,
        "wires": [
            [
                "c87b3a190f2d6e54"
            ]
        ]
    },
    {
        "id": "c87b3a190f2d6e54",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Command Normalizer",
        "func": "let cmd = msg.payload;\n\nif (typeof cmd === \"string\") {\n    try {\n        cmd = JSON.parse(cmd);\n    } catch (e) {\n        return [null, { statusCode: 400, payload: { ok: false, error: \"Invalid JSON body\" } }];\n    }\n}\n\nif (!cmd || typeof cmd !== \"object\" || Array.isArray(cmd)) {\n    return [null, { statusCode: 400, payload: { ok: false, error: \"Command body must be a JSON object\" } }];\n}\n\n// Track user-set setpoint as the AC automation baseline (used by Phase 2 hysteresis logic).\nconst maybeSetpoint =\n    (typeof cmd.acSetpoint === \"number\" && Number.isFinite(cmd.acSetpoint))\n        ? cmd.acSetpoint\n        : (typeof cmd.tempThreshold === \"number\" && Number.isFinite(cmd.tempThreshold))\n            ? cmd.tempThreshold\n            : null;\nif (maybeSetpoint != null) {\n    flow.set(\"acBaseSetpoint\", maybeSetpoint);\n    flow.set(\"acBaseSetpointUpdatedAtMs\", Date.now());\n}\n\nmsg._apiCommand = cmd;\nmsg.payload = JSON.stringify(cmd);\nreturn [msg, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "1115c0a1bb20b4ed",
                "a14b9f5d3c2e7068"
            ],
            [
                "e9a7b3c2d14865f0"
            ]
        ]
    },
    {
        "id": "a14b9f5d3c2e7068",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Command OK Response",
        "func": "msg.statusCode = 200;\nmsg.payload = {\n    ok: true,\n    topic: \"smartclass/demo01/command\",\n    command: msg._apiCommand\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1800,
        "wires": [
            [
                "d3a9f6b2c841507e"
            ]
        ]
    },
    {
        "id": "e9a7b3c2d14865f0",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Command Error Response",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1840,
        "wires": [
            [
                "d3a9f6b2c841507e"
            ]
        ]
    },
    {
        "id": "d3a9f6b2c841507e",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1060,
        "y": 1820,
        "wires": [
            [
                "f7c3a1d92e645b80"
            ]
        ]
    },
    {
        "id": "f7c3a1d92e645b80",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1260,
        "y": 1820,
        "wires": []
    },
    {
        "id": "ae7d3c9184b65f02",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "POST /api/ai-report",
        "url": "/api/ai-report",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1860,
        "wires": [
            [
                "f0a1b2c3d4e5f678"
            ]
        ]
    },
    {
        "id": "c4b7e19a2d3658f0",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API AI Report Prepare",
        "func": "const isoNow = () => new Date().toISOString();\n\nfunction num(x, def) {\n    const n = Number(x);\n    return Number.isFinite(n) ? n : def;\n}\n\nfunction readBody(m) {\n    let body = m.req && m.req.body;\n    if (typeof body === \"string\") {\n        try { body = JSON.parse(body); } catch (e) { body = {}; }\n    }\n    return body && typeof body === \"object\" ? body : {};\n}\n\nconst body = msg._replyHttp ? readBody(msg) : (msg.payload && typeof msg.payload === \"object\" ? msg.payload : {});\nconst highQuality = body.highQuality === true || body.demoMode === true || body.screenshotMode === true;\n\nconst apiKeyRaw = env.get(\"GROQ_API_KEY\");\nlet apiKey = String(apiKeyRaw || \"\").trim();\nif (apiKey.length >= 2 && ((apiKey.charCodeAt(0) === 34 && apiKey.charCodeAt(apiKey.length - 1) === 34) || (apiKey.charCodeAt(0) === 39 && apiKey.charCodeAt(apiKey.length - 1) === 39))) {\n    apiKey = apiKey.slice(1, -1).trim();\n}\n\nconst defaultModel = String(env.get(\"GROQ_MODEL\") || \"\").trim() || \"openai/gpt-oss-20b\";\nconst hqModel = String(env.get(\"GROQ_MODEL_HIGH_QUALITY\") || \"\").trim() || \"openai/gpt-oss-120b\";\nconst model = highQuality && hqModel ? hqModel : defaultModel;\n\nconst tel = flow.get(\"latestTelemetry\") || {};\nconst summary = flow.get(\"latestDashboardSummary\") || {};\nconst ml = flow.get(\"latestMl\") || {};\n\nlet scheduleEnabled = flow.get(\"scheduleEnabled\");\nif (scheduleEnabled === undefined) scheduleEnabled = true;\n\nconst lastMqtt = flow.get(\"lastWokwiMqttMs\");\n\nconst state = {\n    temperature: num(tel.temperature, null),\n    motion: !!tel.motion,\n    occupied: !!tel.occupied,\n\n    // Backward-compatible binary control flags\n    light: tel.light ? 1 : 0,\n    fan: tel.fan ? 1 : 0,\n    mode: tel.mode || \"unknown\",\n    forceOff: !!tel.forceOff,\n    afterHoursAlert: !!tel.afterHoursAlert,\n    tempThreshold: num(tel.tempThreshold, 28),\n\n    // Phase 1+: expanded device state (if present in telemetry)\n    lightOnCount: num(tel.lightOnCount, null),\n    lightTotal: num(tel.lightTotal, null),\n    lightsMask: typeof tel.lightsMask === \"number\" ? tel.lightsMask : null,\n\n    fanOnCount: num(tel.fanOnCount, null),\n    fanTotal: num(tel.fanTotal, null),\n    fansMask: typeof tel.fansMask === \"number\" ? tel.fansMask : null,\n\n    // Phase 1+: AC state (if present in telemetry)\n    acPower: typeof tel.acPower === \"boolean\" ? tel.acPower : null,\n    acMode: typeof tel.acMode === \"string\" ? tel.acMode : null,\n    acSetpoint: num(tel.acSetpoint, null),\n    acCoolingActive: typeof tel.acCoolingActive === \"boolean\" ? tel.acCoolingActive : null,\n    acManualOverride: typeof tel.acManualOverride === \"boolean\" ? tel.acManualOverride : null,\n\n    roomStatus: summary.roomStatus || (tel.occupied ? \"Occupied\" : \"Empty\"),\n    collegeHours: summary.collegeHours || \"\",\n    alerts: Array.isArray(summary.alerts) ? summary.alerts : [],\n    occupancyTimer: summary.occupancyTimer || \"\",\n    estimatedEnergySaved: summary.estimatedEnergySaved || \"\",\n    highTempWarning: summary.highTempWarning || \"\",\n\n    scheduleEnabled,\n\n    // Telemetry freshness (ms since last MQTT sample)\n    pipelineAgeMs: typeof lastMqtt === \"number\" ? Date.now() - lastMqtt : null,\n\n    lastWokwiMqttMs: typeof lastMqtt === \"number\" ? lastMqtt : null,\n\n    // ML insight\n    mlPredictedTemp: num(ml.predictedTemp, null),\n    mlConfidence: num(ml.confidence, null),\n    mlAnomaly: !!ml.anomaly,\n    mlAssist: !!ml.assist,\n    mlStatusText: typeof ml.statusText === \"string\" ? ml.statusText : \"\"\n};\n\nfunction buildFallback(s) {\n    function fmtNum(n, digits = 1) {\n        if (typeof n !== \"number\" || !Number.isFinite(n)) return null;\n        return n.toFixed(digits);\n    }\n\n    function fmtTemp(t) {\n        const v = fmtNum(t, 1);\n        return v == null ? \"NA\" : v + \"°C\";\n    }\n\n    function fmtCount(onCount, totalCount, binaryOn) {\n        const on = typeof onCount === \"number\" && Number.isFinite(onCount) ? onCount : null;\n        const total = typeof totalCount === \"number\" && Number.isFinite(totalCount) ? totalCount : null;\n        if (on != null && total != null && total > 0) return `${on}/${total}`;\n        return binaryOn ? \"ON\" : \"OFF\";\n    }\n\n    const occ = s.occupied ? \"Occupied\" : \"Empty\";\n    const mode = typeof s.mode === \"string\" && s.mode ? s.mode.toUpperCase() : \"—\";\n\n    const lights = fmtCount(s.lightOnCount, s.lightTotal, s.light === 1);\n    const fans = fmtCount(s.fanOnCount, s.fanTotal, s.fan === 1);\n\n    const temp = fmtTemp(s.temperature);\n    const threshold = typeof s.tempThreshold === \"number\" && Number.isFinite(s.tempThreshold) ? `${s.tempThreshold.toFixed(1)}°C` : \"—\";\n\n    let comfort = \"Comfort: waiting for temperature\";\n    if (typeof s.temperature === \"number\" && Number.isFinite(s.temperature) && typeof s.tempThreshold === \"number\" && Number.isFinite(s.tempThreshold)) {\n        const t = s.temperature;\n        if (t > s.tempThreshold + 0.5) comfort = \"Comfort: ABOVE threshold (cooling recommended)\";\n        else if (t < 18) comfort = \"Comfort: room is cool (check heating if needed)\";\n        else comfort = \"Comfort: within expected band\";\n    }\n\n    const acPower = typeof s.acPower === \"boolean\" ? (s.acPower ? \"ON\" : \"OFF\") : \"—\";\n    const acMode = typeof s.acMode === \"string\" && s.acMode ? s.acMode.toUpperCase() : \"—\";\n    const acSetpoint =\n        typeof s.acSetpoint === \"number\" && Number.isFinite(s.acSetpoint) ? `${s.acSetpoint.toFixed(0)}°C` : \"—\";\n    const cooling =\n        typeof s.acCoolingActive === \"boolean\" ? (s.acCoolingActive ? \"active\" : \"inactive\") : \"—\";\n\n    const scheduleLine = s.forceOff\n        ? \"Schedule: Outside hours (lights/fan forced OFF)\"\n        : \"Schedule: Inside hours\";\n    const afterLine =\n        s.afterHoursAlert && s.motion ? \" · After-hours motion detected\" : \"\";\n    const mlLine =\n        typeof s.mlPredictedTemp === \"number\" && Number.isFinite(s.mlPredictedTemp)\n            ? `ML Insight: Pred ${s.mlPredictedTemp.toFixed(1)}°C · Conf ${typeof s.mlConfidence === \"number\" && Number.isFinite(s.mlConfidence) ? Math.round(s.mlConfidence * 100) + \"%\" : \"—\"} · Anomaly ${s.mlAnomaly ? \"YES\" : \"NO\"}`\n            : `ML Insight: predicted temp unavailable`;\n\n    let action = \"Recommended action: keep current settings and monitor\";\n    if (s.forceOff) action = \"Recommended action: outside hours; keep devices OFF\";\n    else if (s.afterHoursAlert && s.motion) action = \"Recommended action: investigate after-hours motion/intrusion\";\n    else if (typeof s.temperature === \"number\" && Number.isFinite(s.temperature) && typeof s.tempThreshold === \"number\" && Number.isFinite(s.tempThreshold)) {\n        action =\n            s.temperature > s.tempThreshold + 0.5\n                ? \"Recommended action: increase cooling / lower AC setpoint\"\n                : s.temperature < 18\n                    ? \"Recommended action: check heating needs / adjust setpoint\"\n                    : \"Recommended action: maintain settings (comfort OK)\";\n    }\n\n    const line1 = `- Classroom: ${occ} · Mode ${mode} · Lights ${lights} · Fans ${fans}`;\n    const line2 = `- Temperature: ${temp} vs ${threshold} · ${comfort.replace(/^Comfort:\\s*/, \"\")}`;\n    const line3 = s.acPower === null && s.acMode === null\n        ? \"- AC System: AC state unavailable\"\n        : `- AC System: Power ${acPower} · Mode ${acMode} · Setpoint ${acSetpoint} · Cooling ${cooling}`;\n    const line4 = `- ${scheduleLine}${afterLine}`;\n    const line5 = `- ${mlLine.replace(/^ML Insight:\\s*/, \"\")}`;\n    const line6 = `- ${action.replace(/^Recommended action:\\s*/, \"\")}`;\n\n    return [line1, line2, line3, line4, line5, line6].join(\"\\n\");\n}\n\nconst fallbackText = buildFallback(state);\nmsg._fallbackSummary = fallbackText;\n\nconst systemPrompt = `You are an AI assistant for a smart classroom automation system.\n\nGiven the latest classroom telemetry, schedule policy state, expanded device counters (lights/fans),\nAC state, and ML insight, produce a short pointer-style summary for the dashboard.\n\nOUTPUT FORMAT (strict):\n- Return EXACTLY 6 lines.\n- Each line MUST start with \"- \" (dash + space).\n- No extra text before/after the 6 lines.\n- Each line should be concise (aim <= 90 characters).\n\nUse these labels in order:\n1) Classroom: Occupancy + control mode + lights/fans state\n2) Temperature: current temp (or NA) vs threshold + comfort hint\n3) AC System: power + mode + setpoint + cooling-active\n4) Schedule: inside/outside schedule + after-hours motion if relevant\n5) ML Insight: predicted temp + confidence + anomaly + ML status\n6) Recommended action: one concrete next step\n\nRules / hints:\n- Use lightOnCount/lightTotal when available; otherwise use binary light.\n- Use fanOnCount/fanTotal when available; otherwise use binary fan.\n- Use acPower/acMode/acSetpoint/acCoolingActive when present; otherwise say \"AC state unavailable\".\n- If forceOff=true: explicitly say devices are forced OFF outside scheduled hours.\n- If afterHoursAlert=true AND motion=true: mention possible after-hours intrusion/investigation.\n- If temperature is null/NA: say \"Temperature reading not available yet\".\n- If pipelineAgeMs is present and is large (> 8000ms), mention that telemetry is stale.\n`;\n\nconst userBlock = JSON.stringify(state, null, 2);\n\nmsg._usedModel = model;\nmsg._sourceLabel = \"groq\";\n\nif (!apiKey) {\n    msg.skipGroq = true;\n    msg._prebuiltResponse = {\n        ok: true,\n        summary: fallbackText,\n        generatedAt: isoNow(),\n        model: \"fallback\",\n        source: \"local\"\n    };\n    return msg;\n}\n\nmsg.skipGroq = false;\nmsg._groqChatPayload = {\n    model: model,\n    messages: [\n        { role: \"system\", content: systemPrompt },\n        { role: \"user\", content: \"Latest classroom state (JSON):\\n\" + userBlock }\n    ],\n    temperature: 0.35,\n    max_tokens: 450\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1860,
        "wires": [
            [
                "a9c8e7d6b5a40301"
            ]
        ]
    },
    {
        "id": "b62f7d13a9e4c850",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 660,
        "y": 1860,
        "wires": [
            [
                "e3d4a8b901c7625f"
            ]
        ]
    },
    {
        "id": "e3d4a8b901c7625f",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 1860,
        "wires": []
    },
    {
        "id": "c9e4d1a7b3f56280",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "POST /api/schedule-toggle",
        "url": "/api/schedule-toggle",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 1900,
        "wires": [
            [
                "d2f8b4a9c1e67350"
            ]
        ]
    },
    {
        "id": "d2f8b4a9c1e67350",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Toggle Schedule",
        "func": "function trySetFlowTimeZone(tzRaw) {\n    if (typeof tzRaw !== \"string\" || tzRaw.length < 2) return;\n    try {\n        new Intl.DateTimeFormat(\"en-GB\", { timeZone: tzRaw }).format(new Date());\n        flow.set(\"scheduleTimeZone\", tzRaw);\n    } catch (e) {}\n}\n\nfunction scheduleMsFromMidnight(now, timeZone) {\n    if (!timeZone) {\n        return ((now.getHours() * 60 + now.getMinutes()) * 60 + now.getSeconds()) * 1000 +\n            now.getMilliseconds();\n    }\n    const parts = new Intl.DateTimeFormat(\"en-GB\", {\n        timeZone: timeZone,\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false,\n    }).formatToParts(now);\n    const num = (type) => {\n        const p = parts.find((x) => x.type === type);\n        return p ? Number(p.value) : 0;\n    };\n    return ((num(\"hour\") * 60 + num(\"minute\")) * 60 + num(\"second\")) * 1000;\n}\n\nfunction scheduleLocalTimeString(now, timeZone) {\n    if (!timeZone) {\n        return now.toLocaleTimeString(\"en-GB\", { hour12: false, hour: \"2-digit\", minute: \"2-digit\", second: \"2-digit\" });\n    }\n    return new Intl.DateTimeFormat(\"en-GB\", {\n        timeZone: timeZone,\n        hour12: false,\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n    }).format(now);\n}\n\nlet body = msg.req && msg.req.body;\nif (typeof body === \"string\") {\n    try { body = JSON.parse(body); } catch (e) { body = null; }\n}\nif (body && typeof body.classroomTz === \"string\") {\n    trySetFlowTimeZone(body.classroomTz);\n}\n\nlet enabled = flow.get(\"scheduleEnabled\");\nif (enabled === undefined) {\n    enabled = true;\n}\n\nenabled = !enabled;\nflow.set(\"scheduleEnabled\", enabled);\n\nlet now = new Date();\nconst schedTz = flow.get(\"scheduleTimeZone\") || env.get('CLASSROOM_TIMEZONE') || \"\";\nlet msFromMidnight = scheduleMsFromMidnight(now, schedTz);\nconst START_MS = 8 * 60 * 60 * 1000;\nconst END_MS = 18 * 60 * 60 * 1000;\nlet inScheduledHours = msFromMidnight >= START_MS && msFromMidnight < END_MS;\n\nlet command;\nif (!enabled) {\n    command = {\n        forceOff: false,\n        afterHoursAlert: false,\n        acPower: true\n    };\n} else {\n    command = {\n        forceOff: !inScheduledHours,\n        afterHoursAlert: !inScheduledHours,\n        acPower: inScheduledHours\n    };\n}\n\nlet mqttMsg = {\n    payload: JSON.stringify(command)\n};\n\nlet responseMsg = {\n    statusCode: 200,\n    payload: {\n        ok: true,\n        scheduleEnabled: enabled,\n        command: command,\n        inScheduleWindow: inScheduledHours,\n        serverTimeIso: now.toISOString(),\n        serverLocalTime: scheduleLocalTimeString(now, schedTz),\n        scheduleWindowLabel: \"08:00–18:00\"\n    }\n};\n\nreturn [mqttMsg, responseMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1900,
        "wires": [
            [
                "1115c0a1bb20b4ed"
            ],
            [
                "f9a6d3e2b7c48105"
            ]
        ]
    },
    {
        "id": "f9a6d3e2b7c48105",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 1900,
        "wires": [
            [
                "a7b5c2d9e1f83460"
            ]
        ]
    },
    {
        "id": "a7b5c2d9e1f83460",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 1900,
        "wires": []
    },
    {
        "id": "f3b9d2a6c8e14750",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "GET /api/schedule-state",
        "url": "/api/schedule-state",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1940,
        "wires": [
            [
                "c1e7a9d4b2f56380"
            ]
        ]
    },
    {
        "id": "c1e7a9d4b2f56380",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Get Schedule State",
        "func": "function trySetFlowTimeZone(tzRaw) {\n    if (typeof tzRaw !== \"string\" || tzRaw.length < 2) return;\n    try {\n        new Intl.DateTimeFormat(\"en-GB\", { timeZone: tzRaw }).format(new Date());\n        flow.set(\"scheduleTimeZone\", tzRaw);\n    } catch (e) {}\n}\n\nfunction scheduleMsFromMidnight(now, timeZone) {\n    if (!timeZone) {\n        return ((now.getHours() * 60 + now.getMinutes()) * 60 + now.getSeconds()) * 1000 +\n            now.getMilliseconds();\n    }\n    const parts = new Intl.DateTimeFormat(\"en-GB\", {\n        timeZone: timeZone,\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n        hour12: false,\n    }).formatToParts(now);\n    const num = (type) => {\n        const p = parts.find((x) => x.type === type);\n        return p ? Number(p.value) : 0;\n    };\n    return ((num(\"hour\") * 60 + num(\"minute\")) * 60 + num(\"second\")) * 1000;\n}\n\nfunction scheduleLocalTimeString(now, timeZone) {\n    if (!timeZone) {\n        return now.toLocaleTimeString(\"en-GB\", { hour12: false, hour: \"2-digit\", minute: \"2-digit\", second: \"2-digit\" });\n    }\n    return new Intl.DateTimeFormat(\"en-GB\", {\n        timeZone: timeZone,\n        hour12: false,\n        hour: \"2-digit\",\n        minute: \"2-digit\",\n        second: \"2-digit\",\n    }).format(now);\n}\n\nlet q = msg.req && msg.req.query && msg.req.query.classroomTz;\nif (typeof q === \"string\") {\n    trySetFlowTimeZone(q);\n}\n\nlet enabled = flow.get(\"scheduleEnabled\");\nif (enabled === undefined) {\n    enabled = true;\n    flow.set(\"scheduleEnabled\", true);\n}\n\nlet now = new Date();\nconst schedTz = flow.get(\"scheduleTimeZone\") || env.get('CLASSROOM_TIMEZONE') || \"\";\nlet msFromMidnight = scheduleMsFromMidnight(now, schedTz);\nconst START_MS = 8 * 60 * 60 * 1000;\nconst END_MS = 18 * 60 * 60 * 1000;\nlet inScheduledHours = msFromMidnight >= START_MS && msFromMidnight < END_MS;\n\nmsg.statusCode = 200;\nmsg.payload = {\n    ok: true,\n    scheduleEnabled: enabled,\n    inScheduleWindow: inScheduledHours,\n    serverTimeIso: now.toISOString(),\n    serverLocalTime: scheduleLocalTimeString(now, schedTz),\n    scheduleWindowLabel: \"08:00–18:00\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1940,
        "wires": [
            [
                "b5d1c8e4a2f96730"
            ]
        ]
    },
    {
        "id": "b5d1c8e4a2f96730",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 1940,
        "wires": [
            [
                "d4f2b8a1c9e67350"
            ]
        ]
    },
    {
        "id": "d4f2b8a1c9e67350",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 1940,
        "wires": []
    },
    {
        "id": "f0a1b2c3d4e5f678",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API AI mark HTTP reply",
        "func": "msg._replyHttp = true;\n// Preserve original req: outbound http request node clears msg.req, which would block http response forever.\nmsg._aiHttpReq = msg.req;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1860,
        "wires": [
            [
                "c4b7e19a2d3658f0"
            ]
        ]
    },
    {
        "id": "f0a1b2c3d4e5f679",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API AI mark NR dashboard",
        "func": "msg._replyHttp = false;\nif (!msg.payload || typeof msg.payload !== \"object\") {\n    msg.payload = {};\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1400,
        "wires": [
            [
                "c4b7e19a2d3658f0"
            ]
        ]
    },
    {
        "id": "a9c8e7d6b5a40301",
        "type": "switch",
        "z": "51ea9c70bb53699f",
        "name": "AI skip Groq?",
        "property": "skipGroq",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 1860,
        "wires": [
            [
                "b8c7d6e5f4a30201"
            ],
            [
                "f8e9d0c1b2a38495"
            ]
        ]
    },
    {
        "id": "b8c7d6e5f4a30201",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "AI use local prebuilt",
        "func": "msg.payload = msg._prebuiltResponse;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1780,
        "wires": [
            [
                "e5f4a3b2c1d00204"
            ]
        ]
    },
    {
        "id": "f8e9d0c1b2a38495",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API AI Groq native https",
        "func": "const isoNow = () => new Date().toISOString();\nconst fallback = msg._fallbackSummary || \"Unable to generate AI summary.\";\nconst usedModel = msg._usedModel || \"openai/gpt-oss-20b\";\n\nfunction stripQuotes(k) {\n    let key = typeof k === \"string\" ? k.trim() : \"\";\n    if (key.length >= 2 && ((key.charCodeAt(0) === 34 && key.charCodeAt(key.length - 1) === 34) || (key.charCodeAt(0) === 39 && key.charCodeAt(key.length - 1) === 39))) {\n        key = key.slice(1, -1).trim();\n    }\n    return key;\n}\n\nfunction failPayload() {\n    return {\n        ok: true,\n        summary: fallback,\n        generatedAt: isoNow(),\n        model: \"fallback\",\n        source: \"local\"\n    };\n}\n\nfunction okPayload(text) {\n    return {\n        ok: true,\n        summary: text,\n        generatedAt: isoNow(),\n        model: usedModel,\n        source: \"groq\"\n    };\n}\n\nfunction extractText(raw) {\n    if (!raw || typeof raw !== \"object\") return \"\";\n    const ch = raw.choices;\n    if (Array.isArray(ch) && ch[0] && ch[0].message && typeof ch[0].message.content === \"string\") {\n        return ch[0].message.content.trim();\n    }\n    if (typeof raw.output_text === \"string\" && raw.output_text.trim()) return raw.output_text.trim();\n    return \"\";\n}\n\nconst apiKey = stripQuotes(String(env.get(\"GROQ_API_KEY\") || \"\").trim());\nconst chatPayload = msg._groqChatPayload;\n\nif (!chatPayload || !apiKey) {\n    msg.payload = failPayload();\n    return msg;\n}\n\nconst bodyStr = JSON.stringify(chatPayload);\nconst opts = {\n    hostname: \"api.groq.com\",\n    port: 443,\n    path: \"/openai/v1/chat/completions\",\n    method: \"POST\",\n    headers: {\n        \"Content-Type\": \"application/json\",\n        \"Authorization\": \"Bearer \" + apiKey,\n        \"Content-Length\": Buffer.byteLength(bodyStr, \"utf8\")\n    }\n};\n\ntry {\n    await new Promise((resolve) => {\n        let settled = false;\n        function settle() {\n            if (settled) return;\n            settled = true;\n            resolve();\n        }\n        const req = https.request(opts, (res) => {\n            req.setTimeout(0);\n            let chunks = \"\";\n            res.setEncoding(\"utf8\");\n            res.on(\"data\", (c) => { chunks += c; });\n            res.on(\"end\", () => {\n                let raw = null;\n                try {\n                    raw = JSON.parse(chunks);\n                } catch (e) {\n                    raw = null;\n                }\n                const st = res.statusCode || 0;\n                const text = st >= 200 && st < 300 ? extractText(raw) : \"\";\n                msg.payload = text ? okPayload(text) : failPayload();\n                settle();\n            });\n        });\n        req.setTimeout(26000, () => {\n            req.destroy();\n            if (!settled) {\n                msg.payload = failPayload();\n                settle();\n            }\n        });\n        req.on(\"error\", () => {\n            if (!settled) {\n                msg.payload = failPayload();\n                settle();\n            }\n        });\n        req.write(bodyStr);\n        req.end();\n    });\n} catch (e) {\n    msg.payload = failPayload();\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "https",
                "module": "https"
            }
        ],
        "x": 1100,
        "y": 1920,
        "wires": [
            [
                "e5f4a3b2c1d00204"
            ]
        ]
    },
    {
        "id": "e5f4a3b2c1d00204",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API AI Distribute",
        "func": "const isoNow = () => new Date().toISOString();\nif (!msg.payload || typeof msg.payload !== \"object\") {\n    msg.payload = {\n        ok: true,\n        summary: msg._fallbackSummary || \"AI summary unavailable.\",\n        generatedAt: isoNow(),\n        model: \"fallback\",\n        source: \"local\"\n    };\n}\n\nconst fp = msg.payload;\nflow.set(\"latestAiReport\", fp);\n\nconst summaryText = typeof fp.summary === \"string\" ? fp.summary : \"\";\nconst uiMsg = { payload: summaryText, topic: \"ai-report\" };\n\nconst reqRef = msg.req || msg._aiHttpReq;\nlet httpMsg = null;\nif (msg._replyHttp === true && reqRef) {\n    httpMsg = RED.util.cloneMessage(msg);\n    httpMsg.req = reqRef;\n    httpMsg.payload = fp;\n    httpMsg.statusCode = 200;\n}\n\nreturn [httpMsg, uiMsg];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 1860,
        "wires": [
            [
                "b62f7d13a9e4c850"
            ],
            [
                "b63f47ab648da08c"
            ]
        ]
    },
    {
        "id": "bbccddeeff001122",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "GET /api/attendance",
        "url": "/api/attendance",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 2010,
        "wires": [
            [
                "ccddee0011223344"
            ]
        ]
    },
    {
        "id": "ccddee0011223344",
        "type": "http request",
        "z": "51ea9c70bb53699f",
        "name": "GET attendance summary (storage bridge)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:4050/api/storage/attendance/live",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 2010,
        "wires": [
            [
                "ddeeff0011223345"
            ]
        ]
    },
    {
        "id": "ddeeff0011223345",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 650,
        "y": 2010,
        "wires": [
            [
                "eeff001122334455"
            ]
        ]
    },
    {
        "id": "eeff001122334455",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 880,
        "y": 2010,
        "wires": []
    },
    {
        "id": "ff00112233445566",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "POST /api/attendance/reset",
        "url": "/api/attendance/reset",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 2050,
        "wires": [
            [
                "0011223344556677"
            ]
        ]
    },
    {
        "id": "0011223344556677",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "API Attendance Reset Prepare",
        "func": "msg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 2050,
        "wires": [
            [
                "1122334455667788"
            ]
        ]
    },
    {
        "id": "1122334455667788",
        "type": "http request",
        "z": "51ea9c70bb53699f",
        "name": "POST attendance reset (storage bridge)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:4050/api/storage/attendance/reset",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 2050,
        "wires": [
            [
                "2233445566778899"
            ]
        ]
    },
    {
        "id": "2233445566778899",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 880,
        "y": 2050,
        "wires": [
            [
                "3344556677889900"
            ]
        ]
    },
    {
        "id": "3344556677889900",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 2050,
        "wires": []
    },
    {
        "id": "b355a76964a3c013",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    },
    {
        "id": "a4100001b2c3d4e5",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "GET /api/attendance/live",
        "url": "/api/attendance/live",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 2090,
        "wires": [
            [
                "a4100002b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100002b2c3d4e5",
        "type": "http request",
        "z": "51ea9c70bb53699f",
        "name": "GET attendance live (storage bridge)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:4050/api/storage/attendance/live",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 430,
        "y": 2090,
        "wires": [
            [
                "a4100003b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100003b2c3d4e5",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 670,
        "y": 2090,
        "wires": [
            [
                "a4100004b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100004b2c3d4e5",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 900,
        "y": 2090,
        "wires": []
    },
    {
        "id": "a4100005b2c3d4e5",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "POST /api/attendance/session/start",
        "url": "/api/attendance/session/start",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 2130,
        "wires": [
            [
                "a4100006b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100006b2c3d4e5",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Attendance Session Start Prepare",
        "func": "let body = msg.req && msg.req.body;\nif (typeof body === \"string\") {\n  try { body = JSON.parse(body); } catch { body = {}; }\n}\nmsg.headers = { \"Content-Type\": \"application/json\" };\nmsg.payload = body && typeof body === \"object\" ? body : {};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 2130,
        "wires": [
            [
                "a4100007b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100007b2c3d4e5",
        "type": "http request",
        "z": "51ea9c70bb53699f",
        "name": "POST attendance session start (storage bridge)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:4050/api/storage/attendance/session/start",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 760,
        "y": 2130,
        "wires": [
            [
                "a4100008b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100008b2c3d4e5",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1030,
        "y": 2130,
        "wires": [
            [
                "a4100009b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100009b2c3d4e5",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1240,
        "y": 2130,
        "wires": []
    },
    {
        "id": "a4100010b2c3d4e5",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "POST /api/attendance/session/end",
        "url": "/api/attendance/session/end",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 2170,
        "wires": [
            [
                "a4100011b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100011b2c3d4e5",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Attendance Session End Prepare",
        "func": "msg.headers = { \"Content-Type\": \"application/json\" }; msg.payload = {}; return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 2170,
        "wires": [
            [
                "a4100012b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100012b2c3d4e5",
        "type": "http request",
        "z": "51ea9c70bb53699f",
        "name": "POST attendance session end (storage bridge)",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:4050/api/storage/attendance/session/end",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 2170,
        "wires": [
            [
                "a4100013b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100013b2c3d4e5",
        "type": "json",
        "z": "51ea9c70bb53699f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1020,
        "y": 2170,
        "wires": [
            [
                "a4100014b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100014b2c3d4e5",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 2170,
        "wires": []
    },
    {
        "id": "a4100015b2c3d4e5",
        "type": "http in",
        "z": "51ea9c70bb53699f",
        "name": "GET /api/attendance/export.csv",
        "url": "/api/attendance/export.csv",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 2210,
        "wires": [
            [
                "a4100016b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100016b2c3d4e5",
        "type": "http request",
        "z": "51ea9c70bb53699f",
        "name": "GET attendance export csv (storage bridge)",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://host.docker.internal:4050/api/storage/attendance/export.csv",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 2210,
        "wires": [
            [
                "a4100017b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100017b2c3d4e5",
        "type": "function",
        "z": "51ea9c70bb53699f",
        "name": "Attendance Export CSV Response",
        "func": "msg.headers = {\n  \"Content-Type\": \"text/csv; charset=utf-8\",\n  \"Content-Disposition\": \"attachment; filename=attendance-export.csv\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 2210,
        "wires": [
            [
                "a4100018b2c3d4e5"
            ]
        ]
    },
    {
        "id": "a4100018b2c3d4e5",
        "type": "http response",
        "z": "51ea9c70bb53699f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 2210,
        "wires": []
    }
]